

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 16pt;
  box-shadow: 5px 5px 5px black;

}


nav a {
  margin: 0 2rem;
  color: #495e57;
  font-weight: bold ;
  text-decoration: underline;
}

nav a:hover {
  margin: 0 2rem;
  background-color: #495e57;
  color: #F4CE14;
  font-weight: bold ;
  text-decoration: underline;
  transition: 0.2s ease-in;
  cursor: pointer;
}

header .nav-btn{
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #495e57;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}
@media only screen and (max-width: 1276px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav{
    background-color: #F4CE14;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: 0.5s;
    transform: translateY(-100vh);
  }

  header .responsiveNav{
    transform: none;
  }

  nav .nav-close-btn{
    position: absolute;
    top: 2rem;
    top: 2rem;
  }

  nav a{
    font-size: 1.5rem;
  }
}
h1 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 40pt;
  color: #F4CE14;
}

h2 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 35pt;
  color: #F4CE14;
}

.reserve{
  height: 40px;
  width:75%;
  background-color: #F4CE14;
  color: #495e57;
  font-family:'capstone/public/fonts/Karla-VariableFont_wght.ttf','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  border-radius: 16pt;
  border: solid black 3px;
}

.reserve:hover{
  background-color: #495e57;
  color: #F4CE14;
  cursor: pointer;
  border: solid #F4CE14 3px;
}

.main {
  padding-top: 10px;
  font-size: 16pt;
  font-family:'capstone/public/fonts/Karla-VariableFont_wght.ttf','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.landing {
  padding-left: 15%;
  background-color: #495e57;
  font-size: 16pt;
  font-family:'capstone/public/fonts/Karla-VariableFont_wght.ttf','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
}

.wrapper {
  padding-top: 20px;
  height:600px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 4rem;
  justify-content: center;
}
@media only screen and (max-width: 1138px) {
  .wrapper {
    height: fit-content;
  }
}

.card {
  overflow: hidden;
  box-shadow: 0 4px 25px gray;
  border: solid black 3px;
  border-radius: 16pt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 200ms ease-in;
  height: min-content;

  &__image{
    height: 12rem;
    width: 100%;
    object-fit: cover;
  }

  &__title{
    color: #495e57;
    text-align: center;
    font-size: 18pt;
  }

  &__description{
    padding:0 1rem;
  }

  &__btn{
    padding: 1rem;
    font-family: "capstone/public/fonts/MarkaziText-VariableFont_wght.ttf";
    font-weight: bold;
    font-size: 1rem;
    margin: 1.5rem;
    padding: 1rem;
    width: 80%;
    border: 2px solid #495e57;
    border-radius: 16pt;
    color: #495e57;
    background-color: #F4CE14;
    cursor: pointer;
  }
}

.card2 {
  overflow: hidden;
  box-shadow: 0 4px 25px gray;
  border: solid black 3px;
  border-radius: 16pt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 200ms ease-in;
  height: 250px;

  &__image{
    height: 50px;
    width: 50px;
    object-fit: cover;
    padding-left: 40%;
  }

  &__reviewer{
    color: #495e57;
    text-align: center;
    font-size: 18pt;
  }

  &__quote{
    padding:0 1rem;
  }

  &__btn{
    padding: 1rem;
    font-family: "capstone/public/fonts/MarkaziText-VariableFont_wght.ttf";
    font-weight: bold;
    font-size: 1rem;
    margin: 1.5rem;
    padding: 1rem;
    width: 80%;
    border: 2px solid #495e57;
    border-radius: 16pt;
    color: #495e57;
    background-color: #F4CE14;
    cursor: pointer;
  }
}

.card:hover{
  transform: scale(1.02);
}

.card__btn:hover{
  background-color: #495e57;
  color: #F4CE14;
}

form{
  padding-left: 15%;
  padding-right: 15%;
  font-size: 16pt;
  font-family:'capstone/public/fonts/Karla-VariableFont_wght.ttf','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
}

fieldset{
  border: #495e57 solid 2pt;
}

fieldset > div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5pt;
  padding-bottom: 10pt;
}

.required {
  color: red;
  font-weight: bold;
}

.optional {
  font-weight: lighter;
  opacity: 50%;
  font-style: italic;
}

input {
  border-radius: 16pt;
  border: #495e57 solid 3pt;
  text-align: center;
}

select {
  border-radius: 16pt;
  border: #495e57 solid 2pt;
}

label {
  font-size: larger;
}

.submitBtn {
  height: 40px;
  width:75%;
  background-color: #F4CE14;
  color: #495e57;
  font-family:'capstone/public/fonts/Karla-VariableFont_wght.ttf','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  border-radius: 16pt;
  border: solid black 3px;
  cursor: pointer;
}

.submitBtn:hover{
  color: #F4CE14;
  background-color: #495e57;
}

.confirm {
  text-align: center;
}

.container {
  background-color: #495e57;
  width: 100%;
  display: table;
}

.column {
  text-align: center;
  display: table-cell;
}

.column > ul {
  list-style: none;
}

ul a {
  margin: 0 2rem;
  color: black;
  text-decoration: none;
}